// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart-xs {
  @include resize(65px, 70px);
}

.cart_details {
  width: 35%;

  .row {
    .total_line {
      font-weight: bold;
      border-top: 1px solid #595;
      list-style-type: none;
    }

    .price {
      text-align: right;
      float: right;
    }
  }
}
