.product_details {
  width: 55%;
}
.products {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .table-striped tbody {
    tr {
      border-top: 1px solid #e0f0fd;
    }

    .product_line {
      padding: 3px;
      clear: both;
      border-bottom: $products-br-color;
    }

    .product_line_even {
      background-color: $products-bg-even-color;
      border-left: 4px solid #008ede;
    }

    .product_line_odd {
      background-color: $products-bg-odd-color;
    }
  }
}
