<div class="form-actions">
  <%= link_to I18n.t('views.nav.back'),
              url_for(controller: rsr_name.plural, action: :index) %>
  <%= link_to I18n.t('views.nav.edit'),
              url_for(controller: rsr_name.plural, action: :edit, id: rsr_obj),
              :class => btn_class_for(:edit) %>
  <%= link_to I18n.t('views.nav.delete'),
              url_for(controller: rsr_name.plural, action: :destroy, id: rsr_obj),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => I18n.t('views.nav.confirm_delete')) },
              :class => btn_class_for(:destroy) %>
</div>
