<div class="actions">
  <%= link_to_action I18n.t('views.nav.back'),
                     { controller: rsr_name.plural, action: :index }, {} %>
  <%= link_to_action I18n.t('views.nav.edit'),
                     { controller: rsr_name.plural, action: :edit, id: rsr_obj },
                     :class => btn_class_for(:edit) %>
  <%= button_to_action I18n.t('views.nav.delete'),
                     { controller: rsr_name.plural, action: :destroy, id: rsr_obj },
                     :method => :delete, :data => { :confirm => t('.confirm', :default => I18n.t('views.nav.confirm_delete')) },
                     :class => btn_class_for(:destroy) %>
</div>
