<%- model_class = Cart -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<% @carts.each do |cart| %>
   <%= render 'cart', cart: cart %>
<% end %>

<%= button_to I18n.t('views.carts.new'), carts_path, method: :post, class: btn_class_for(:new) %>
