<%- model_class = Cart -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<%= render @cart %>

<%= render 'shared/form_actions', rsr_name: model_class.model_name, rsr_obj: @cart %>
