<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p><%= I18n.t('app.copyright') %></p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#"><%= I18n.t('app.about') %></a></li>
          <li><a href="#"><%= I18n.t('app.contact') %></a></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>
