<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <h1><%= link_to '_  iShop _', store_path %></h1>
    </li>
    <li>
      <%= link_to 'Products', products_path %>
    </li>
    <li>
      <%= link_to 'Carts', carts_path %>   
    </li>
  </ul>

  <div class="sidebar-nav nav-cart">
    <div id="cart">
      <% if @cart.cart_items.any? %>
        <%= render 'carts/sidebar_cart' %>
      <% end %>
    </div>
  </div>
</div>

